apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.name }}-service
  labels:
    app: {{ .Values.label }}
spec:
  ports:
    - port: 80
      targetPort: 4499
      protocol: TCP
  selector:
    app: {{ .Values.name }}
